body {
    background: #F8F8F8;
    margin: 0;
    width: 320px; 
}

/* header */

.CPSheader {
    box-shadow: 0 1px 0 #D9FFF5;
    background: #FFFFFF;
    
}

.CPSheader__upperMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 88px;
} 


/* .button {
    display: block;
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;
    background: none;
} */

#right__menu {
    display: flex;
    margin-right: 17px;
}


.CPSheader__burgermenu {
    margin-left: 16px;
    margin-right: 16.73px; 
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='16' fill='none'%3e%3cpath fill='%23fff' fill-rule='evenodd' d='M0 1a1 1 0 0 1 1-1h16a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1Zm0 7a1 1 0 0 1 1-1h8a1 1 0 0 1 0 2H1a1 1 0 0 1-1-1Zm1 6a1 1 0 1 0 0 2h12a1 1 0 1 0 0-2H1Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FF3E79; 
    border-radius: 20px;
    
}    

.image_but {
    width: 100%;
}


.CPSheader__logobutt {
    margin-bottom: 5px;
    margin-left: 73px;
    /* margin-right: 16.73px; */

    width: 90px;
    height: 45px;
}

.CPSheader__divider1 {

    border: 1px solid #EAEAEA;
    border-radius: 1px; 

    height: 32px; 

    /* margin-right: 20.73px; */
}


.CPSheader__repairbutt {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3e%3cpath fill='%23fff' d='m8.258 13.458.409-.409-1.717-1.717-.409.41-.204-.205c-.327-.368-.654-.573-.981-.532-.246 0-.45.164-.613.409-.246.409-.123.859-.082 1.145 0 .082.04.123.04.204 0 .123 0 .286-.285.327-.41.123-.94.246-1.472.532-.736.409-1.226.777-1.512 1.145C-.081 16.729 0 18.406 0 18.487c0 .123.04.205.122.246l1.104 1.144c.082.082.164.123.245.123h.123c.409 0 1.88-.082 3.597-1.431.368-.286.736-.777 1.145-1.513.286-.49.45-1.022.531-1.472.082-.286.205-.286.327-.286.041 0 .123.041.205.041.163.04.327.082.531.082.204 0 .409-.041.613-.164.245-.163.409-.368.45-.613.04-.327-.123-.654-.49-.94l-.246-.246ZM16.884 4.878l1.135-.552c.042-.042.126-.085.168-.127l1.723-2.337c.126-.17.126-.425-.042-.553L18.691.12c-.126-.127-.378-.17-.546-.042l-2.312 1.742a.588.588 0 0 0-.126.17l-.546 1.147L11 7.216 12.765 9l4.119-4.122Z'/%3e%3cpath fill='%23fff' d='M17.853 13.045c-.99-1.041-2.414-1.416-3.759-1.041l-6.449-6.83c.08-.376.119-.709.119-1.084a4.184 4.184 0 0 0-1.147-2.873 3.696 3.696 0 0 0-3.996-1 .542.542 0 0 0-.238.333c0 .125.04.25.119.375l1.939 2.041c.435.458.435 1.25 0 1.708a1.129 1.129 0 0 1-1.622 0L.879 2.633c-.118-.084-.236-.125-.395-.084-.118 0-.237.125-.277.25-.474 1.458-.118 3.082.91 4.165.712.791 1.741 1.208 2.77 1.208.316 0 .672-.042.989-.125l6.488 6.83a4.339 4.339 0 0 0 .99 3.957A3.668 3.668 0 0 0 15.083 20c.434 0 .83-.083 1.265-.208a.491.491 0 0 0 .277-.292.346.346 0 0 0-.119-.375l-1.938-2.04a1.332 1.332 0 0 1-.356-.875c0-.333.119-.625.356-.875s.514-.374.83-.374c.317 0 .594.124.832.374l1.938 2.041a.617.617 0 0 0 .356.125c.119-.042.238-.125.277-.25A4.92 4.92 0 0 0 19 15.918c0-1.082-.396-2.124-1.147-2.873Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FF3E79; 
    border-radius: 20px;
}


.CPSheader__checkbutt {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='20' fill='none'%3e%3cpath fill='%23fff' fill-rule='evenodd' d='M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v17.5a1.5 1.5 0 0 0-1.5 1.5h-1a1.5 1.5 0 0 0-3 0h-1a1.5 1.5 0 0 0-3 0h-1a1.5 1.5 0 0 0-3 0h-1A1.5 1.5 0 0 0 0 18.5V1Zm9.416 10.788a4.236 4.236 0 0 1-3.086.595c-1.803-.336-3.24-1.85-3.47-3.672a4.318 4.318 0 0 1 4.994-4.83c1.802.287 3.25 1.763 3.547 3.555a4.247 4.247 0 0 1-.614 2.991l2.109 2.1a.97.97 0 0 1-1.37 1.37l-2.11-2.109Zm-4.71-3.73a2.354 2.354 0 1 1 4.707.002 2.354 2.354 0 0 1-4.707-.001Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FF3E79; 
    border-radius: 20px;
    
}

.mobile {
    display: none;
}

.CPSheader__divider2 {
    border: 1px solid #EAEAEA;
    border-radius: 1px; 

    height: 32px; 

    margin-right: 20px;
    /* margin-left: 16.73px; */
}

.CPSheader__callbut,
.CPSheader__chatbut,
.CPSheader__profilebut,
.CPSheader__divider1 {
    display: none;
}


/* title */

.title {
    margin-bottom: 24px;
} 


.title__ser {
    font-family: 'TT Lakes';
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
} 

.title__ser::before {
    content: "";
    border: 3px solid #41F6D7;
    border-radius: 5px;
    margin-right: 12px;
}

.title__repairbutt,
.title__checkbutt {
    display: none;
}

/* optional menu  */

.options {
    display: flex;
    flex-wrap: nowrap;
    
    list-style-type: none; 
    
    overflow: auto;
    white-space: nowrap;
    margin: 24px 16px 0 16px;
    padding: 4px;
    overflow-x: auto;
}

.options::-webkit-scrollbar {
    width: 0;
}


.options_item {
    width: auto;
    height: auto;

    margin-left: 16px;
    margin-right: 58px;
    background: #FFFFFF;
    flex: 0 0 auto;
    
    
}

.options__link {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;

    color: #7E7E82;

    white-space: nowrap;
    padding: 8px 22px;

    
    display: inline-block;
    text-align: center;
    text-decoration: none; 

}

.options__link:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

/* info block */

.firstblock {
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    /* margin-bottom: 16px; */
}

.firstblock__text {
    margin-left: 16px;
    margin-right: 16px;
    height: 90px;
    width: 288px;

    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    color: #1B1C21;

    letter-spacing: 0.2px;

} 

.firstblock__additional1,
.firstblock__additional2 {
    display: none;
}

.firstblock__readMore {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;   
    
    /* padding-top: 32px; */
    margin-left: 16px;
    text-decoration: none;
} 

.firstblock__readMore::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='11' fill='none'%3e%3cpath fill='%2341F6D7' fill-rule='evenodd' d='M6.5.5 4 3 1.5.5a.707.707 0 0 0-1 1l2.793 2.793a1 1 0 0 0 1.414 0L7.5 1.5a.707.707 0 0 0-1-1Zm0 6L4 9 1.5 6.5a.707.707 0 1 0-1 1l2.793 2.793a1 1 0 0 0 1.414 0L7.5 7.5a.707.707 0 0 0-1-1Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;
    vertical-align: top;
}


.CPSphoto__office {
    
    width: 320px;
    height: 176px;
    margin-top: 16px;
}  

.title__textBut {
    display: none;
}

/* #btnn {
    display: block;
}

#nav {
    display: none;
}

#nav.active #btnn {
    display: flex;
} */

/* #btnnn {
    display: block;
} */

/* #menu {
    display: none;
}

#right__menu.active #menu {
    display: flex;
} */

.burger {
    position: absolute; 
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 16px;
    margin-right: 17px;
    z-index: 10;
    
    
}

.burger span {
    width: 10px;
    height: 2px;
    position: absolute;
    background-color: white; 
    display: block;
    transition: .3s;
    border-radius: 1px;
    margin-left: 11px;
    
}

.burger span::after, .burger span::before {
    width: 18px;
    height: 2px;
    /* left: 11px; */
    position: absolute;
    background-color: white; 
    display: block;
    transition: .3s;
    border-radius: 1px;
}

.burger span::before {
    content: "";
    top: -7px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span{
    top: 50%;
}

.burger span::after {
    content: "";
    bottom: -7px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);


}

.burger span.active::before {
    content: "";
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);

}

.burger span.active::after {
    content: "";
    bottom: 0;
    transform: rotate(-45deg);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);

}

.burger span.active {
    background: transparent;
}


.menu {
    width: 320px; 
    height: 1024px;
    background: #333;
    color: #ccc;
    position: absolute;  
    left: -320px;
    transition: left 500ms cubic-bezier(0.68, 0.55, 0.27, 1.55);
    opacity: 0;
    /* z-index: 10; */

    margin: 0;
}

.menu.animate {
    left: 0;
    opacity: 1;
    top: 0;
}


.menu {
    background: #FFFFFF;
    box-shadow: 
        -2px 0px 4px rgba(69, 79, 126, 0.02), 
        16px 0px 52px rgba(14, 24, 80, 0.2);
    /* overflow-y: hidden; */

}

/* .menu {
    width: 300px;
    height: 100%;
    /* height: 1024px; */
    /* overflow-y: hidden; */

/* }  */

.sidemenu-header {
    display: flex;
    /* direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap; */
}

/* .rightside_menu {
    display: flex;
    align-items: center;
} */

.logo {
    height: 51px;
    width: 97px;
    margin-left: 80px;
    margin-top: 18px;
    /* margin-left: 16.73px; */
    /* margin-right: 28px;   */
}

.button {
    /* display: block;  */
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: none; 
    /* margin-top: 23px; */
    /* margin-right: 24px; */
}



/* .sidemenu_closebut {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3e%3cpath fill='%23fff' fill-rule='evenodd' d='M2.793 1.257a1 1 0 0 0-1.414 0l-.122.122a1 1 0 0 0 0 1.414L7.464 9l-6.207 6.207a1 1 0 0 0 0 1.414l.122.122a1 1 0 0 0 1.414 0L9 10.536l6.207 6.207a1 1 0 0 0 1.414 0l.122-.122a1 1 0 0 0 0-1.414L10.536 9l6.207-6.207a1 1 0 0 0 0-1.414l-.122-.122a1 1 0 0 0-1.414 0L9 7.464 2.793 1.257Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FF3E79; 
    border-radius: 20px;
    margin-left: 24px; 
    margin-right: 17px;
} */

.sidemenu_search {
    position: absolute;
    left: 256px;
    top: 2.255;
    bottom: 93.85%;
    /* right: 61.46%; */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3e%3cpath fill='%23fff' fill-rule='evenodd' d='M12.5 11h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34A6.505 6.505 0 0 0 .05 7.32c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.26 4.25c.41.41 1.07.41 1.48 0l.01-.01c.41-.41.41-1.07 0-1.48L12.5 11Zm-6 0C4.01 11 2 8.99 2 6.5S4.01 2 6.5 2 11 4.01 11 6.5 8.99 11 6.5 11Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FF3E79; 
    border-radius: 20px;
    /* margin-left: 60px; */
    /* margin-top: 23px;
    margin-right: 24px;
    margin-bottom: 961px; */
    /* margin-right: 24px;
    margin-top: 23px; */
    /* margin: 0; */
}

.nav_header {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
/* identical to box height, or 150% */

    letter-spacing: -0.2px;

    color: #7E7E82;

    margin-top: 57px;
    margin-bottom: 32px;
    /* margin-left: 24px; */
} 

.nav_header::before {
    content: "";
    border: 3px solid #41F6D7;
    border-radius: 5px;
    margin-right: 12px;
    height: 32px;
    /* margin-left: 0; */
}

.nav_items {
    list-style-type: none;
    /* margin: 0; */
    margin-left: 24px;
    margin-bottom: 32px;

}

.nav_link {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.2px;

    color: #1B1C21;
    text-decoration: none;
    
}

.bottom__menu {
    margin-top: 236px; 
    margin-bottom: 40px;
}

.ad_buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
}

.call__but {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3e%3cpath fill='%23fff' fill-rule='evenodd' d='m1.76 12.25 2.54-.29c.61-.07 1.21.14 1.64.57l1.84 1.84c2.83-1.44 5.15-3.75 6.59-6.59l-1.85-1.85a1.99 1.99 0 0 1-.57-1.64l.29-2.52C12.36.76 13.21 0 14.23 0h1.73c1.13 0 2.07.94 2 2.07-.53 8.54-7.36 15.36-15.89 15.89-1.13.07-2.07-.87-2.07-2v-1.73c-.01-1.01.75-1.86 1.76-1.98Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    /* background-image: url("data:image/svg+xml;charset=UTF-8, SVGOMG Powered by SVGO v3.0.0 Open SVG Paste markup Demo Contribute 1.34k → 843 bytes 61.31%25 %3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3e%3cpath fill='%23fff' d='m8.258 13.458.409-.409-1.717-1.717-.409.41-.204-.205c-.327-.368-.654-.573-.981-.532-.246 0-.45.164-.613.409-.246.409-.123.859-.082 1.145 0 .082.04.123.04.204 0 .123 0 .286-.285.327-.41.123-.94.246-1.472.532-.736.409-1.226.777-1.512 1.145C-.081 16.729 0 18.406 0 18.487c0 .123.04.205.122.246l1.104 1.144c.082.082.164.123.245.123h.123c.409 0 1.88-.082 3.597-1.431.368-.286.736-.777 1.145-1.513.286-.49.45-1.022.531-1.472.082-.286.205-.286.327-.286.041 0 .123.041.205.041.163.04.327.082.531.082.204 0 .409-.041.613-.164.245-.163.409-.368.45-.613.04-.327-.123-.654-.49-.94l-.246-.246ZM16.884 4.878l1.135-.552c.042-.042.126-.085.168-.127l1.723-2.337c.126-.17.126-.425-.042-.553L18.691.12c-.126-.127-.378-.17-.546-.042l-2.312 1.742a.588.588 0 0 0-.126.17l-.546 1.147L11 7.216 12.765 9l4.119-4.122Z'/%3e%3cpath fill='%23fff' d='M17.853 13.045c-.99-1.041-2.414-1.416-3.759-1.041l-6.449-6.83c.08-.376.119-.709.119-1.084a4.184 4.184 0 0 0-1.147-2.873 3.696 3.696 0 0 0-3.996-1 .542.542 0 0 0-.238.333c0 .125.04.25.119.375l1.939 2.041c.435.458.435 1.25 0 1.708a1.129 1.129 0 0 1-1.622 0L.879 2.633c-.118-.084-.236-.125-.395-.084-.118 0-.237.125-.277.25-.474 1.458-.118 3.082.91 4.165.712.791 1.741 1.208 2.77 1.208.316 0 .672-.042.989-.125l6.488 6.83a4.339 4.339 0 0 0 .99 3.957A3.668 3.668 0 0 0 15.083 20c.434 0 .83-.083 1.265-.208a.491.491 0 0 0 .277-.292.346.346 0 0 0-.119-.375l-1.938-2.04a1.332 1.332 0 0 1-.356-.875c0-.333.119-.625.356-.875s.514-.374.83-.374c.317 0 .594.124.832.374l1.938 2.041a.617.617 0 0 0 .356.125c.119-.042.238-.125.277-.25A4.92 4.92 0 0 0 19 15.918c0-1.082-.396-2.124-1.147-2.873Z'/%3e%3c/svg%3e"); */
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FF3E79; 
    border-radius: 20px;

    margin-left: 24px;
    margin-right: 16px;
}

.chat__but {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3e%3cpath fill='%23fff' fill-rule='evenodd' d='M18 0H2C.9 0 .01.9.01 2L0 20l4-5h14c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2Zm-7 11H5c-.55 0-1-.45-1-1s.45-1 1-1h6c.55 0 1 .45 1 1s-.45 1-1 1Zm4-5H5c-.55 0-1-.45-1-1s.45-1 1-1h10c.55 0 1 .45 1 1s-.45 1-1 1Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FF3E79; 
    border-radius: 20px;
    margin-right: 16px;
}

.prof__but {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18' fill='none'%3e%3cpath fill='%23fff' d='M10.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM.017 16.612C-.113 17.342.535 18 1.339 18H18.66c.83 0 1.453-.659 1.323-1.388C19.23 12.4 15.056 10 10 10 4.943 10 .769 12.4.017 16.612Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FF3E79; 
    border-radius: 20px;
}

.email {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;

    margin-left: 24px;
    margin-bottom: 12px;
    text-decoration: none;

    /* padding-bottom: 12px; */
}

.phone {
    font-family: 'TT Lakes';
    font-size: 24px;
    line-height: 32px;

    letter-spacing: -0.6px;

    color: #1B1C21;
    font-weight: 700;

    
    margin-left: 24px;
    text-decoration: none;
}

.lang-switch {
    margin-left: 17px; 

}

.btn {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: -0.2px;

    color: #1B1C21;
    margin-left: 7px;

    border: none;
    background-color: transparent;
}

.btn:hover {
    color: #7E7E82;
    transition: 0.1s;
}

input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

/* .burger .menu {
    position: absolute;
    z-index: 10;
    display: none;
  } */

/* .burger:hover .menu {
    display: block;
  }

.nav_menu {
    overflow: hidden;
} */


.ReadMore_text {
    margin-left: 16px; 
    border: none;
    background-color: #F8F8F8;
    padding: 0; 
    /* margin-top: 0; */
} 

.ReadMore_text::before {
    content: "Читать далее";
    /* background-image: url("C:\Users\Asus\Desktop\kata\icon.svg"); */
    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21; 
    text-decoration: none; 
    /* margin-top: 24px; */
    padding: 0; 

} 

.active .ReadMore_text::before {
    content: "Скрыть";
    margin-top: 46px; 
}  

.firstblock__text {
    height: auto;
    overflow: hidden;
}

.firstblock__text.active {
    height: auto;
}

.firstblock__additional1.read1 {
    display: inline;
}

.firstblock__additional2.read2 {
    display: inline;
}

.arrow {
    margin-left: 9px;
    margin-top: 17px;
    height: 10px;
    width: 7px;
}  

.arrow.rotate {
    transform: rotate(180deg);
}  


.footer {
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    height: 80px;
    /* width: 320px; */
}

.footer__title {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;


    letter-spacing: -0.2px;
    text-transform: uppercase;

    color: #7E7E82;
    padding: 16px;
}

.swiper {
    
    /* width: 320px;
    height: 80px;   */
    /* margin-top: 16px; */
    /* margin-left: 16px; */
    /* margin-left: 0; */
    margin-top: 16px;
    width: 240px;
    height: 72px; 

    margin-bottom: 38px;
}

.swiper-wrapper {
    /* position: absolute; */
    display: flex;
    justify-content: flex-start;  
    /* gap: 16px;   */
    /* flex-wrap: wrap; */
    margin-left: 16px;
    
    
}

.swiper-slide {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    /* margin-right: 16px;   */

    width: 240px;
    height: 72px; 

    text-align: center; 

    /* padding-left: 16px;
    padding-top: 16px; */


    /* padding: 16px; */

}

.swiper-pagination {
    margin-top: 16px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #DDDDDD;
}

.swiper-pagination-bullet-active {
	background: #B5B6BC;
}

.swiper-container{
    position: relative;
    width: 70%;
    margin: 0;
}

.swiper-pagination{
    bottom: -32px!important;
}

.firms__logo {
    display: flex;
    /* justify-content: space-between; */
}

/* .logo_hp,
.logo_app {
    margin: -10px;
} */

.nxt_btn {
    height: 40px;
    width: 40px;
    /* padding: 16px; */
    /* margin-top: 16px;
    margin-bottom: 16px; */

}

.logo_len {
    width: 108px;
    height: 32px;
    margin-left: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 44px;
}

.logo_sm {
    width: 116px;
    height: 39px;
    margin-left: 16px;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-right: 36px;
}

.logo_app {
    width: 44px;
    height: 44px;
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 16px;
    margin-right: 108px;
}

.logo_vs {
    width: 128px;
    height: 21px;
    margin-left: 14px;
    margin-top: 26px;
    margin-bottom: 25px;
    margin-right: 42px;
}

.logo_bo {
    width: 128px;
    height: 29px;
    margin-left: 16px;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-right: 24px;
}

.logo_hp {
    width: 52px;
    height: 52px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 106px;
}

.logo_acer {
    width: 94px;
    height: 24px;
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 58px;
}

.logo_sony {
    width: 128px;
    height: 26px;
    margin-left: 14px;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-right: 42px;
}


.footer__options__link {
    margin-top: 16px;
    margin-right: 16px;
}

.firms{
    display: none;
}

.arrow_firm,
.ReadMore {
    display: none;
}
