body {
    background: #F8F8F8;
    margin: 0 auto;
    /* min-width: 320px;  mobile */
    /* width: 320; */
}

/* header */

.CPSheader {
    box-shadow: 0 1px 0 #D9FFF5;
    background: #FFFFFF;
}

.CPSheader__upperMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 88px;
} 


.button {
    display: block;
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;
    background: none;
}



.CPSheader__burgermenu {
    margin-left: 16px;
    margin-right: 16.73px;  
}    

.image_but {
    width: 100%;
}


.CPSheader__logobutt {
    margin-bottom: 5px;
    margin-left: 0;
    /* margin-right: 16.73px; */

    width: 96.55px;
    height: 50.81px;
}

.CPSheader__divider1 {

    border: 1px solid #EAEAEA;
    border-radius: 1px; 

    height: 32px; 

    margin-right: 20.73px;
}

.CPSheader__repairbutt,
.CPSheader__checkbutt {
    margin-right: 16px;
}

.mobile {
    display: none;
}

.CPSheader__divider2 {
    border: 1px solid #EAEAEA;
    border-radius: 1px; 

    height: 32px; 

    margin-right: 20px;
    /* margin-left: 16.73px; */
}

.CPSheader__callbut,
.CPSheader__chatbut,
.CPSheader__profilebut,
.CPSheader__divider1 {
    display: none;
}


/* title */

.title {
    margin-bottom: 24px;
} 


.title__ser {
    font-family: 'TT Lakes';
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
} 

.title__ser::before {
    content: "";
    border: 3px solid #41F6D7;
    border-radius: 5px;
    margin-right: 12px;
}

.title__repairbutt,
.title__checkbutt {
    display: none;
}

/* optional menu  */

.options {
    display: flex;
    flex-wrap: nowrap;
    
    list-style-type: none; 
    
    overflow: auto;
    white-space: nowrap;
    margin: 24px 16px 0 16px;
    padding: 4px;
    overflow-x: auto;
}

.options::-webkit-scrollbar {
    width: 0;
}


.options_item {
    width: auto;
    height: auto;

    margin-left: 16px;
    margin-right: 58px;
    background: #FFFFFF;
    flex: 0 0 auto;
    
    
}

.options__link {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;

    color: #7E7E82;

    white-space: nowrap;
    padding: 8px 22px;

    
    display: inline-block;
    text-align: center;
    text-decoration: none; 

}

.options__link:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

/* info block */

.firstblock {
    display: flex;
    flex-direction: column; 
    margin-bottom: 16px;
}

.firstblock__text {
    margin: 0 16px 16px;
    height: 90px;
    width: 288px;

    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    color: #1B1C21;

    letter-spacing: 0.2px;

} 

.firstblock__additional1,
.firstblock__additional2 {
    display: none;
}

.firstblock__readMore {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;   
    
    margin-left: 16px;
    text-decoration: none;
    
} 

.firstblock__readMore::before {
    content: url("img/icon.svg");
    margin-right: 8px;
    vertical-align: top;
}


.CPSphoto__office {
    
    width: 320px;
    height: 176px;
    margin-top: 16px;
}  

/* tablet  */

@media (min-width: 768px) {

    /* header */

    .CPSheader__burgermenu {
        margin-left: 24px;
        margin-right: 20px;
    } 

    .CPSheader__repairbutt{
        margin-right: 16px;
    } 
    
    .CPSheader__checkbutt {
        margin-right: 24px;
    }

    .CPSheader__callbut {
        margin-left: 226px; 
    }
    
    .CPSheader__callbut,
    .CPSheader__chatbut {
        margin-right: 16px;
    }
    .CPSheader__profilebut,
    .CPSheader__divider2 {
        margin-right: 20px;
    }

    /* info block */

    .firstblock__additional2 {
        display: none;
    }

    .CPSphoto__office {
        width: 360px;
        height: 208px;
    }  
}

/* desktop */
@media (min-width: 1120px) {

    /* header */
    .CPSheader {
        display: none;
    }

    /* title */
    .title {
        display: flex;
        justify-content: space-between;
        
    }
    
    .desktop {
        display: flex;
    }
    
    .title__textBut {
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
    
        text-align: right;
        letter-spacing: -0.2px;
    
        color: #1B1C21;
        margin-right: 9px;
        margin-top: 50px;
    
        white-space: nowrap;
    
        
    }
    
    .title__repair,
    .title__checkstatus {
        margin-top: 42px;
    }

    /* info block */
    .CPSphoto__office {
        width: 531.35px;
        height: 307px;
    } 


}
